*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

#myBody {
    background-color: white;
    height: 100vh;
}

.notesContainer {
    width: 80vw;
    padding: 40px;
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    margin:auto;
}

.note {
    display: inline-block;
    padding: 1.45rem;
    width: 100%;
    background-color: #FCF4AC;
    border: solid 1px gray;
    border-radius: 6px;
    margin: 1%;
    box-shadow: 1px 1px 5px gray;
}

.noteTitle {
    font-size: 1.3em;
    font-weight: bold;
    margin: 13px 0px;
    text-transform: uppercase;
}

.icons {
    width: 20px;
}

.addButton {
    width: 17%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black
}

.addButton:hover{
    background-color: #CDCDCD;
}

.addButtonContainer {
    text-align: -webkit-right;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (min-width: 1018px){
        
    .notesContainer {
        -webkit-column-width: 15em;
    }
}

@media (min-width: 1384px){
        
    .notesContainer {
        -webkit-column-width: 17em;
    }
}